[Unit]
Description=Ethereum go client
After=syslog.target network.target

[Service]
User=geth
Group=geth
Environment=HOME=/home/geth
ExecStart=/usr/bin/geth --http \
  --ipcdisable --metrics --nousb --pprof \
  --pprof.addr=0.0.0.0 --config {{ configuration.geth.path }} \
  --maxpeers {{ configuration.geth.eth.maxpeers }} \
  {% if configuration.geth.snapshots.enabled %}--snapshot{% endif %}

KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
