[Unit]
Description=Lighthouse
After=syslog.target network.target

[Service]
User=lighthouse
Group=lighthouse
Environment=HOME=/home/lighthouse
ExecStart=/usr/local/bin/lighthouse bn --metrics --metrics-address=0.0.0.0 --staking
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
