[Unit]
Description=Lighthouse
After=syslog.target network.target

[Service]
User=lighthouse
Group=lighthouse
Environment=HOME=/home/lighthouse
# Due to a bug in 1.0, we need to use --delete-lockfiles to avoid issues on restart.
ExecStart=/usr/local/bin/lighthouse vc --delete-lockfiles
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
