[Unit]
Description=MEV-Boost
After=syslog.target network.target

[Service]
User=mevboost
Group=mevboost
Environment=HOME=/home/mevboost
ExecStart=/home/mevboost/bin/mev-boost \
  -mainnet -relay-check \
  -relays {{ configuration.mevboost.relays |  join(",") }} \
  -relay-check {% if configuration.mevboost.min_bid > 0 %} -min-bid {{ configuration.mevboost.min_bid }} {% endif %}
KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
