ARGS="{% if configuration.prometheus.storage.path %}--storage.tsdb.path {{ configuration.prometheus.storage.path }} {% endif %} \
     {% if configuration.prometheus.storage.retention %}--storage.tsdb.retention.time {{ configuration.prometheus.storage.retention }}{% endif %}"
